.users-container {
    height: 100%;
    padding: @padding-lg;
    background: var(--component-background);

    :global {
        .@{mui-prefix}Tooltip-tooltip {
            .@{mui-prefix}Chip-root {
                background-color: var(--gray-2);
                border-radius: @border-radius-xs;
            }
        }

        .@{prefix}-tooltip-cont {
            .@{mui-prefix}Chip-root {
                background-color: var(--gray-2);
                border-radius: @border-radius-xs;
            }
        }
    }
}

.users-role-chip {
    margin: @margin-xxs @margin-xs @margin-xxs 0;
}
