# Tüm dosyaların sahibi. PR’larda bu kullanıcı review için atanır.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @rifatsekerariot
