# Code owners: these users are requested for review when PRs touch these paths.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @rifatsekerariot
