.@{prefix}-sidebar-user-info-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @padding-lg 6px;

    .user-info {
        display: flex;
        flex: 1;
        gap: @margin-sm;
        align-items: center;
        .text-size(@font-size-lg);

        .name {
            flex: 1;
            width: 0;
        }
    }

    > .@{mui-prefix}SvgIcon-root {
        font-size: 16px;
        color: var(--gray-color-6);
    }
}

.@{prefix}-sidebar-modal-header.@{mui-prefix}DialogTitle-root {
    position: relative;
    height: 56px;
    padding: @padding-md;
    text-align: center;

    .title {
        .text-size(@font-size-xl);
    }
}

.@{prefix}-sidebar-user-info-modal,
.@{prefix}-sidebar-language-modal {
    .@{mui-prefix}Dialog-paper {
        background-color: var(--body-background);
    }

    .@{mui-prefix}DialogContent-root {
        padding: 0 @padding-md @padding-md;
    }

    .action-back {
        position: absolute;
        top: 50%;
        left: 16px;
        padding: 2px;
        transform: translateY(-50%);
    }

    .user-info-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .user-info__name {
            max-width: calc(100% - (2 * @padding-md));
            margin-top: @margin-md;
            font-weight: @font-weight-bold;
            .text-size(@font-size-xl);
        }

        .user-info__email {
            max-width: calc(100% - (2 * @padding-md));
            color: var(--text-color-secondary);
        }
    }

    .@{mui-prefix}List-root {
        padding: 0;
        margin-top: @margin-xl;
        background-color: var(--component-background);
        border-radius: @border-radius-md;

        .@{mui-prefix}ListItem-root {
            padding: 0;
            border-bottom: @border-base;

            &:last-child {
                border-bottom: none;
            }

            .@{mui-prefix}ButtonBase-root {
                display: flex;
                gap: @margin-sm;
                align-items: center;
                padding: @padding-md;

                .action-item__text {
                    flex: 1;
                    width: 0;
                    .text-size(@font-size-lg);

                    &.version {
                        display: flex;
                        justify-content: space-between;

                        .value {
                            color: var(--text-color-secondary);
                        }
                    }
                }

                .icon-start {
                    font-size: 24px;
                    color: var(--icon-color-gray-secondary);
                }

                .icon-end {
                    font-size: 16px;
                    color: var(--icon-color-gray-secondary);
                }
            }
        }
    }
}
