.@{prefix}-gateway-codec-modal {
    &-tip {
        margin-bottom: @margin-lg;
    }

    .@{prefix}-modal-content {
        padding-top: 0;
    }

    &-content {
        padding-top: @padding-xxs;
    }

    .@{mui-prefix}Alert-root {
        width: 100%;
    }
}

