@table-pro: ~'@{prefix}-table-pro';

.sticky-class(@bg-color: var(--component-background)) {
    position: sticky;
    background-color: @bg-color;
}

.@{prefix}-table-pro {
    display: flex;
    flex-direction: column;
    height: 100%;

    & &__header {
        display: flex;
        margin-bottom: @margin-lg;

        .@{table-pro}__topbar-operations {
            display: flex;
            flex: 1;
            align-items: center;
        }

        .@{table-pro}__topbar-search {
            .@{mui-prefix}InputBase-input {
                padding-left: 0;
            }
        }

        .@{table-pro}__topbar-sort {
            padding-left: @padding-xs;
        }
    }

    &-columns {
        &-header {
            display: flex;
            align-items: center;
            width: 100%;

            > .@{prefix}-tooltip {
                max-width: calc(100% - 20px);
            }

            &-label {
                overflow: hidden;
                font-weight: @font-weight-medium;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &-icon {
                display: flex;
                margin-left: @margin-xxs;
                color: var(--gray-color-7);
                cursor: pointer;

                &-active {
                    color: var(--primary-color-7);
                }
            }
        }
    }

    &-popover:has(.@{mui-prefix}FormControlLabel-root) {
        padding-top: @padding-md;
    }

    &-popover {
        min-width: 240px;
        padding: @padding-xl;

        &-filter {
            &-searchInput {
                margin-bottom: @margin-xl;

                input {
                    padding-left: @padding-lg;
                }
            }

            .@{mui-prefix}FormGroup-root {
                margin-bottom: @margin-md;

                .@{mui-prefix}FormControlLabel-root {
                    margin-left: -11px;

                    .@{mui-prefix}Typography-root {
                        margin-bottom: 2px;
                        line-height: @font-size-3;
                    }
                }
            }

            .@{mui-prefix}FormControlLabel-root span {
                font-size: @font-size-lg!important;
            }
        }

        &-footer {
            display: flex;
            justify-content: space-between;

            .@{mui-prefix}Button-root {
                padding: @border-radius-sm @padding-md;
            }
        }
    }

    & &__body {
        flex: 1;
        overflow: auto;

        // columnHeader gridCell fixed style
        .@{prefix}-table-cell-fix-left,
        .@{prefix}-table-header-fix-left {
            z-index: 6;
            .sticky-class();

            .@{mui-prefix}DataGrid-columnSeparator--sideRight {
                display: none;
            }
        }

        .@{prefix}-table-cell-fix-right,
        .@{prefix}-table-header-fix-right {
            z-index: 6;
            .sticky-class();

            .@{mui-prefix}DataGrid-columnSeparator--sideRight {
                display: none;
            }
        }

        // gridCell shadow style
        .@{prefix}-table-cell-fix-right-first {
            box-shadow: -4px 0 4px rgba(0, 0, 0, 0.06);
        }
        .@{prefix}-table-cell-fix-left-last {
            box-shadow: 4px 0 4px rgba(0, 0, 0, 0.06);
        }

        // muti checkbox style
        .@{mui-prefix}DataGrid-cellCheckbox.@{mui-prefix}DataGrid-cell {
            background-color: var(--component-background);
        }

        // scrollbarY fixed style
        .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--borderTop,
        .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--header {
            right: 0;
            .sticky-class();
        }

        // columnHeader bg style
        .@{prefix}-table-header-fix-right,
        .@{prefix}-table-header-fix-left,
        .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--header,
        .@{mui-prefix}DataGrid-columnHeader.@{mui-prefix}DataGrid-columnHeaderCheckbox {
            z-index: 40;
            background-color: var(--gray-color-1);
        }

        // cover selected hover style
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected  .@{prefix}-table-cell-fix-right,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected  .@{prefix}-table-cell-fix-left,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected
            .@{mui-prefix}DataGrid-cellCheckbox.@{mui-prefix}DataGrid-cell,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected
            .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--borderTop,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected
            .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--header {
            background-color: var(--purple-1)!important;
        }

        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected:hover,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected:hover .@{prefix}-table-cell-fix-right,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected:hover .@{prefix}-table-cell-fix-left,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected:hover
            .@{mui-prefix}DataGrid-cellCheckbox.@{mui-prefix}DataGrid-cell,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected:hover
            .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--borderTop,
        .@{mui-prefix}DataGrid-row.@{mui-prefix}-selected:hover
            .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--header {
            background-color: var(--purple-2) !important;
        }

        .@{mui-prefix}DataGrid-row:hover .@{prefix}-table-cell-fix-right,
        .@{mui-prefix}DataGrid-row:hover .@{prefix}-table-cell-fix-left,
        .@{mui-prefix}DataGrid-row:hover .@{mui-prefix}DataGrid-cellCheckbox.@{mui-prefix}DataGrid-cell,
        .@{mui-prefix}DataGrid-row:hover
            .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--borderTop,
        .@{mui-prefix}DataGrid-row:hover
            .@{mui-prefix}DataGrid-scrollbarFiller.@{mui-prefix}DataGrid-scrollbarFiller--header {
            background-color: var(--gray-color-1);
        }
        .@{mui-prefix}DataGrid-columnHeaders {
            .@{mui-prefix}DataGrid-row--borderBottom {
                background-color: var(--gray-color-1);
            }
        }

        // Override Mui style: Remove the focus border
        .@{mui-prefix}DataGrid-cell:focus,
        .@{mui-prefix}DataGrid-cell:focus-within,
        .@{mui-prefix}DataGrid-columnHeader:focus,
        .@{mui-prefix}DataGrid-columnHeader:focus-within {
            outline: none;
        }
        //  Override Mui style: Remove the checkbox hover style
        .@{mui-prefix}DataGrid-cellCheckbox .MuiCheckbox-root:hover,
        .@{mui-prefix}DataGrid-columnHeader .MuiCheckbox-root:hover {
            background-color: unset;
        }


        // Override the Mui style: Avoid hiding the separator line in the Header when focusing
        .@{mui-prefix}DataGrid-columnHeader:focus .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-columnHeader:focus-within .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-columnHeader:has(+ .@{mui-prefix}DataGrid-columnHeader:focus)
            .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-columnHeader:has(+ .@{mui-prefix}DataGrid-columnHeader:focus-within)
            .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-columnHeader--withLeftBorder .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-columnHeader--withRightBorder .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-columnHeader:has(
                + .@{mui-prefix}DataGrid-filler
                    + .@{mui-prefix}DataGrid-columnHeader--withLeftBorder
            )
            .@{mui-prefix}DataGrid-columnSeparator,
        .@{mui-prefix}DataGrid-virtualScroller--hasScrollX
            .@{mui-prefix}DataGrid-columnHeader--last
            .@{mui-prefix}DataGrid-columnSeparator {
            opacity: 1;
        }

        .@{mui-prefix}DataGrid-main {
            outline: none;
        }

        .@{mui-prefix}DataGrid-row {
            &:hover {
                background-color: var(--gray-1);
            }
        }

        // Override Mui style: custom column separator
        .@{mui-prefix}DataGrid-columnHeader {
            // Avoid horizontal scrolling beyond the width of the container
            overflow: hidden;

            // Bold separator
            .@{mui-prefix}DataGrid-columnSeparator--resizable {
                .@{mui-prefix}DataGrid-iconSeparator rect {
                    width: 2px;
                    x: 11;
                    rx: 1;
                }
            }
        }

        .@{prefix}-tooltip {
            > span {
                display: block;
                .ellipsis();
            }
        }
    }
}

.@{mui-prefix}DataGrid-filterForm {
    .@{mui-prefix}FormControl-root {
        margin-bottom: 0;

        .@{mui-prefix}FormControl-root.@{mui-prefix}FormControl-fullWidth {
            margin-bottom: 0;
        }

        .@{mui-prefix}InputBase-root {
            margin-top: 0;

            &::before {
                border-bottom-color: var(--border-color-base);
            }

            &:hover:not(.Mui-disabled, .Mui-error) {
                &::before {
                    border-bottom-color: var(--border-color-hover);
                }
            }
        }
    }
}
